.App{
  display: grid;
  grid-template-areas: 
  "nav"
  "main";
  font-family: 'Heebo', sans-serif;
}

header{
  grid-area: "nav";
  box-shadow: 2px 2px darkgrey;
  font-family: 'Heebo', sans-serif;
}

.main{
  grid-area: 'main';
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: 'Heebo', sans-serif;
}